/* =  Columns 1 50 x 50%
-------------------------------------------------------------- */
.col-1 .widget,
.col-1 .post, 
.col-1 .col-item{
	width:100% ;
	height:100%;
	float:left ;
}	
	
.col-1 .post:nth-child(1n+1),
.col-1 .widget:nth-child(1n+1),
.col-1 .col-item:nth-child(1n+1){	
	padding-left: 0 ;	
	padding-right: 0 ;
}



/* =  Copyright Col 1 elements and text align
-------------------------------------------------------------- */
.copyright .col-1 *{text-align:center;}

.copyright .col-1 .widget_content {text-align:left ;}

/* =  Columns 2 50 x 50%
-------------------------------------------------------------- */
.col-2 .widget,
.col-2 .post, 
.col-2 .col-item{
	width:50% ;
	height:100%;
	float:left ;
}	
	
.col-2 .post:nth-child(2n+1),
.col-2 .widget:nth-child(2n+1),
.col-2 .col-item:nth-child(2n+1){
	padding-right: 10px ;
	clear:left;
} 
.col-2 .post:nth-child(2n+2),
.col-2 .widget:nth-child(2n+2),
.col-2 .col-item:nth-child(2n+2){	
	padding-left: 10px ;	
/*	padding-right: 10px ;*/
}



/* =  Top, Upper, Copyright col-2-70x30 text right
-------------------------------------------------------------- */
.upper .col-2 .widget:nth-child(2n+2),
.copyright .col-2 .widget:nth-child(2n+2),
.top .col-2 .widget:nth-child(2n+2) *{
	text-align:right;
}



/* =  Columns 2 30 x 70%
-------------------------------------------------------------- */
.col-2-30x70 .widget,
.col-2-30x70 .post, 
.col-2-30x70 .col-item, 
.temp-col-2-30x70 .col-item{
	height:100%;
	float:left ;
}	
	
.col-2-30x70 .post:nth-child(2n+1),
.col-2-30x70 .widget:nth-child(2n+1),
.col-2-30x70 .col-item:nth-child(2n+1),
.temp-col-2-30x70 .col-item:nth-child(2n+1) {
	width:30% ;
	padding-right: 10px;
	clear:left;
} 
.col-2-30x70 .post:nth-child(2n+2),
.col-2-30x70 .widget:nth-child(2n+2),
.col-2-30x70 .col-item:nth-child(2n+2),
.temp-col-2-30x70 .col-item:nth-child(2n+2){	
	width:70% ;
	padding-left: 10px ;	
/*	padding-right: 10px ;*/
}


/* =  Columns 2 20 x 80%
-------------------------------------------------------------- */
.col-2-20x80 .widget,
.col-2-20x80 .post, 
.col-2-20x80 .col-item, 
.temp-col-2-20x80 .col-item{
	height:100%;
	float:left ;
}	
	
.col-2-20x80 .post:nth-child(2n+1),
.col-2-20x80 .col-item2:nth-child(2n+1),
.col-2-20x80 .widget:nth-child(2n+1),
.temp-col-2-20x80 .col-item:nth-child(2n+1) {
	width:20% ;
	padding-right: 10px;
	clear:left;
} 
.col-2-20x80 .post:nth-child(2n+2),
.col-2-20x80 .col-item2:nth-child(2n+2),
.col-2-20x80 .widget:nth-child(2n+2),
.temp-col-2-20x80 .col-item:nth-child(2n+2){	
	width:80% ;
	padding-left: 10px ;	
/*	padding-right: 10px ;*/
}


/* =  Top, Upper, Copyright col-2-30x70 text right
-------------------------------------------------------------- */
.upper .col-2-30x70 .widget:nth-child(2n+2),
.copyright .col-2-30x70 .widget:nth-child(2n+2),
.top .col-2-30x70 .widget:nth-child(2n+2) *{
	text-align:right;
}


/* =  Columns 2 70 x 30%
-------------------------------------------------------------- */
.col-2-70x30 .widget,
.col-2-70x30 .post, 
.col-2-70x30 .col-item, 
.temp-col-2-70x30 .col-item{
	height:100%;
	float:left ;
}	
	
.col-2-70x30 .post:nth-child(2n+1),
.col-2-70x30 .widget:nth-child(2n+1),
.col-2-70x30 .col-item:nth-child(2n+1), 
.temp-col-2-70x30 .col-item:nth-child(2n+1){
	width:70% ;
	padding-right: 10px ;
	clear:left;
} 
.col-2-70x30 .post:nth-child(2n+2),
.col-2-70x30 .widget:nth-child(2n+2),
.col-2-70x30 .col-item:nth-child(2n+2),
.temp-col-2-70x30 .col-item:nth-child(2n+2){	
	width:30% ;
	padding-left: 10px ;	
}



/* =  Top, Upper, Copyright col-2-70x30 text right
-------------------------------------------------------------- */
.upper .col-2-70x30 .widget:nth-child(2n+2),
.copyright .col-2-70x30 .widget:nth-child(2n+2),
.top .col-2-70x30 .widget:nth-child(2n+2) *{
	text-align:right;
}


/* =  Columns 3 33.3% 
-------------------------------------------------------------- */
.col-3 .post,
.col-3 .widget,
.col-3 .col-item{
	width:33.3% ;
	height:100%;
	float:left ;	
}

.col-3 .post:nth-child(3n+1),
.col-3 .widget:nth-child(3n+1),
.col-3 .col-item:nth-child(3n+1){	
	padding-right: 10px ;

	/*	padding-left: 0px ;*/
	clear:left;
} 

.col-3 .post:nth-child(3n+2),
.col-3 .widget:nth-child(3n+2),
.col-3 .col-item:nth-child(3n+2){	
	padding-left: 10px ;	
	padding-right: 10px ;
}

.col-3 .post:nth-child(3n+3),
.col-3 .widget:nth-child(3n+3),
.col-3 .col-item:nth-child(3n+3){	
	padding-left: 10px ;	
}

/* =  Columns 3 15x60x25% 
-------------------------------------------------------------- */
.col-3-15x60x25 .post,
.col-3-15x60x25 .widget,
.col-3-15x60x25 .col-item, 
.temp-col-3-15x60x25 .col-item{
	height:100%;
	float:left ;	
}

.col-3-15x60x25 .post:nth-child(3n+1),
.col-3-15x60x25 .widget:nth-child(3n+1),
.col-3-15x60x25 .col-item:nth-child(3n+1), 
.temp-col-3-15x60x25 .col-item:nth-child(3n+1){	
	width:15% ;
	padding-right: 10px ;
	clear:left;
} 

.col-3-15x60x25 .post:nth-child(3n+2),
.col-3-15x60x25 .widget:nth-child(3n+2),
.col-3-15x60x25 .col-item:nth-child(3n+2),
.temp-col-3-15x60x25 .col-item:nth-child(3n+2){
	width:60% ;	
	padding-left: 10px ;	
	padding-right: 10px ;
}

.col-3-15x60x25 .post:nth-child(3n+3),
.col-3-15x60x25 .widget:nth-child(3n+3),
.col-3-15x60x25 .col-item:nth-child(3n+3),
.temp-col-3-15x60x25 .col-item:nth-child(3n+3){
	width:25% ;	
	padding-left: 10px ;	
}



/* =  Columns 3 15x25x60% 
-------------------------------------------------------------- */
.col-3-15x25x60 .post,
.col-3-15x25x60 .widget,
.col-3-15x25x60 .col-item, 
.temp-col-3-15x25x60 .col-item{
	height:100%;
	float:left ;	
}

.col-3-15x25x60 .post:nth-child(3n+1),
.col-3-15x25x60 .widget:nth-child(3n+1),
.col-3-15x25x60 .col-item:nth-child(3n+1), 
.temp-col-3-15x25x60 .col-item:nth-child(3n+1){	
	width:15% ;
	padding-right: 10px ;
	clear:left;
} 

.col-3-15x25x60 .post:nth-child(3n+2),
.col-3-15x25x60 .widget:nth-child(3n+2),
.col-3-15x25x60 .col-item:nth-child(3n+2),
.temp-col-3-15x25x60 .col-item:nth-child(3n+2){
	width:25% ;	
	padding-left: 10px ;	
	padding-right: 10px ;
}

.col-3-15x25x60 .post:nth-child(3n+3),
.col-3-15x25x60 .widget:nth-child(3n+3),
.col-3-15x25x60 .col-item:nth-child(3n+3),
.temp-col-3-15x25x60 .col-item:nth-child(3n+3){
	width:60% ;	
	padding-left: 10px ;	
}


/* =  Columns 3 60x25x15% 
-------------------------------------------------------------- */
.col-3-60x25x15 .post,
.col-3-60x25x15 .widget,
.col-3-60x25x15 .col-item, 
.temp-col-3-60x25x15 .col-item{
	height:100%;
	float:left ;	
}

.col-3-60x25x15 .post:nth-child(3n+1),
.col-3-60x25x15 .widget:nth-child(3n+1),
.col-3-60x25x15 .col-item:nth-child(3n+1), 
.temp-col-3-60x25x15 .col-item:nth-child(3n+1){	
	width:60% ;
	padding-right: 10px ;
	clear:left;
} 

.col-3-60x25x15 .post:nth-child(3n+2),
.col-3-60x25x15 .widget:nth-child(3n+2),
.col-3-60x25x15 .col-item:nth-child(3n+2),
.temp-col-3-60x25x15 .col-item:nth-child(3n+2){
	width:25% ;	
	padding-left: 10px ;	
	padding-right: 10px ;
}

.col-3-60x25x15 .post:nth-child(3n+3),
.col-3-60x25x15 .widget:nth-child(3n+3),
.col-3-60x25x15 .col-item:nth-child(3n+3),
.temp-col-3-60x25x15 .col-item:nth-child(3n+3){
	width:15% ;	
	padding-left: 10px ;	
}



/* =  Columns 4 25 x 25 x 25 x 25% 
-------------------------------------------------------------- */
.col-4 .post,
.col-4 .widget,
.col-4 .col-item{
	width:25% ;
	height:100%;
	float:left ;	
}

.col-4 .post:nth-child(4n+1),
.col-4 .widget:nth-child(4n+1),
.col-4 .col-item:nth-child(4n+1){	
	padding-right: 10px ;
	clear:left ;
} 

.col-4 .post:nth-child(4n+2),
.col-4 .widget:nth-child(4n+2),
.col-4 .col-item:nth-child(4n+2),
.col-4 .post:nth-child(4n+3),
.col-4 .widget:nth-child(4n+3),
.col-4 .col-item:nth-child(4n+3){	
	padding-left: 10px ;	
	padding-right: 10px ;
}


.col-4 .post:nth-child(4n+4),
.col-4 .widget:nth-child(4n+4),
.col-4 .col-item:nth-child(4n+4){	
	padding-left: 10px ;	
}

/* =  Columns 5 25 x 25 x 25 x 25% 
-------------------------------------------------------------- */
.col-5 .post,
.col-5 .widget,
.col-5 .col-item{
	width:20% ;
	height:100%;
	float:left ;	
}
.col-5 .post:nth-child(5n+1),
.col-5 .widget:nth-child(5n+1),
.col-5 .col-item:nth-child(5n+1){	
	padding-right: 10px ;
	clear:left;
} 
.col-5 .post:nth-child(5n+2),
.col-5 .widget:nth-child(5n+2),
.col-5 .col-item:nth-child(5n+2),
.col-5 .post:nth-child(5n+3),
.col-5 .widget:nth-child(5n+3),
.col-5 .col-item:nth-child(5n+3),
.col-5 .post:nth-child(5n+4),
.col-5 .widget:nth-child(5n+4),
.col-5 .col-item:nth-child(5n+4){	
	padding-left: 10px ;	
	padding-right: 10px ;
}

.col-5 .post:nth-child(5n+5),
.col-5 .widget:nth-child(5n+5),
.col-5 .col-item:nth-child(5n+5){	
	padding-left: 10px ;	
}

/* =  Columns 6 16.5 
-------------------------------------------------------------- */
.col-6 .post,
.col-6 .widget,
.col-6 .col-item{
	width:16.5% ;
	height:100%;
	float:left ;	
}
.col-6 .post:nth-child(6n+1),
.col-6 .widget:nth-child(6n+1),
.col-6 .col-item:nth-child(6n+1){	
	padding-right: 10px ;
	clear:left;
} 
.col-6 .post:nth-child(6n+2),
.col-6 .widget:nth-child(6n+2),
.col-6 .col-item:nth-child(6n+2),
.col-6 .post:nth-child(6n+3),
.col-6 .widget:nth-child(6n+3),
.col-6 .col-item:nth-child(6n+3),
.col-6 .post:nth-child(6n+4),
.col-6 .widget:nth-child(6n+4),
.col-6 .col-item:nth-child(6n+4),
.col-6 .post:nth-child(6n+5),
.col-6 .widget:nth-child(6n+5),
.col-6 .col-item:nth-child(6n+5){	
	padding-left: 10px ;	
	padding-right: 10px ;
}
.col-6 .post:nth-child(6n+6),
.col-6 .widget:nth-child(6n+6),
.col-6 .col-item:nth-child(6n+6){	
	padding-left: 10px ;	
}
