/* = Comments 
-------------------------------------------------------------- */
ul.comments-list li.comment {
	float:left; 
	width:100%; 
	min-height:85px; 
	list-style-type: none; 
}
ul.comments-list li.comment:nth-child(2n+2){}
/*.comment-author  img.avatar{float:left; margin-right:10px;}*/
a.comment-reply-link{float:right;}
.form-allowed-tags code{}
form.comment-form label{
	display:none;
}
form.comment-form #comment{
	width:100%;
}
.comment-reply-title{}