/* =  Forms 
-------------------------------------------------------------- */
input:required,
textarea:required {
 	max-width: 100%;
}

input:required + label {}

form {
 	max-width: 100%;
 	margin: 0 auto;
}
form div {}
label {
 	display: block;
}
input + label {
	display: inline-block;
	margin-right: 10px;
}

input:not([type=submit]):not([type=file]),
textarea {
	line-height: 1;
	background-color:#fff;
  	max-width: 100%;
	min-width:250px;
}

input[type='radio'], 
input[type='checkbox'],
input[type='number']{
	min-width:auto !important;	/*reste min-width:250px;*/
}

input[type='submit'], 
input[type='button']{
	line-height: 1;
	cursor:pointer;
	/*background-color:transparent;*/
}

select{
	background-color:#fff;
	max-width:95%;
}