/* = Header 
-------------------------------------------------------------- */
.header .widget .widget-header  {
	display:none !important; /*remove title form widgets in header*/
}


/* = Logo reset all css 
-------------------------------------------------------------- */
img.logo, 
img.logo:hover, 
a img.logo, 
a:hover img.logo {
    border: 0px !important; /*remove borders*/
    background: none !important; /*remove background*/
    padding: 0 !important; /*remove paddings*/
    margin: 0 !important; /*remove margins*/
    -moz-box-shadow: 0px 0px 0px #fff !important; /*remove box-shadow*/
    -webkit-box-shadow: 0px 0px 0px #fff !important;  /*remove box-shadow*/
    box-shadow: 0px 0px 0px #fff !important;  /*remove box-shadow*/
}

.header .logo_sticky{
	display:none;
}

.header.sticky .logo_no_sticky{
	display:none;
}
.header.sticky .logo_sticky{
	display:block;
}

