


/* = Wraps
-------------------------------------------------------------- */
/*.main, */.open-sub-menu{
	padding:10px;	
	/*background:#212121;*/
}
/*
.header, 
.header .container, 
.upper, 
.upper .container,*/
 
/*.top, */
/*
.bootom,
.bootom .container, */

/*
.copyright, 
.footer, 

.menu-wrap,
.menu-wrap .container
{
	

	padding-left:10px; 
	padding-right:10px;
}*/




/*
.bottom,
.footer, .footer .container{
	padding-left:10px;
	padding-right:10px;
}*/







/* = Margines
-------------------------------------------------------------- */
.sidebar .widget,
.bottom .widget,
.footer .widget,
.post-content,
.post-media,
.pagination,
label,
input,
textarea,
.widget_advanced_recent_posts article{	
	margin-bottom:10px;
}

.widget_advanced_recent_posts{
	padding-top:10px;
}

.aligncenter, div.aligncenter{
	margin:auto auto 10px auto !important;
}

.comment-form input{
	margin-bottom:0px;
}
.comments h4{
	padding:10px !important;

	}


/* = Padding / padding
-------------------------------------------------------------- */
.widget-header,
.widget-content,
.post-header,
.post-meta,
.post-content,

section.comment-respond,

.page-content,
.page-builder,
.page-builder .container,
.pagination,
input,
textarea{
	padding:10px;	
}


/* = widget margin = bootom, footer top padding
-------------------------------------------------------------- */
.bottom,
.footer {
	padding-top:10px;
}


label{	
	padding-bottom:10px;	
}

.comments li{
	padding-left:10px;
	padding-right:10px;
}


/* = Elements /halp padding
-------------------------------------------------------------- */
.post-meta,

.page-content li,
.page-content th,
.page-content td,
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6,

.post-content li,
.post-content th,
.post-content td,
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,

.widget-content li:not(.menu-item) ,
.widget-content th,
.widget-content td,
.widget-content h1,
.widget-content h2,
.widget-content h3,
.widget-content h4,
.widget-content h5,
.widget-content h6,

section.comment-respond li,
section.comment-respond th,
section.comment-respond td,
section.comment-respond h1,
section.comment-respond h2,
section.comment-respond h3,
section.comment-respond h4,
section.comment-respond h5,
section.comment-respond h6,
section.comment-respond p,



.comments li,
.comments th,
.comments td,
.comments h1,
.comments h2,
.comments h3,
.comments h4,
.comments h5,
.comments h6
{
	padding-top:5px;
	padding-bottom:5px;
}



/* = Widget Menu padding 0 
-------------------------------------------------------------- */
.widget_nav_menu .widget-content{
	padding:0px !important;
}
.widget_nav_menu a,
.menu a{
	padding:5px 10px 5px 10px;	
}

/* = Widget Search  margin null
-------------------------------------------------------------- */
.widget_search input{
	margin-bottom:0 !important;
	
}

/* = Widget Search padding widget-content  null
-------------------------------------------------------------- */
.widget_search .widget-content,
.widget_search label{
	padding-bottom:0px !important;
}







/* = Test
-------------------------------------------------------------- */

/*
.post-header,
.post-content,
.post-meta,
.widget-header,
.widget-content,
.pagination{ border:1px solid yellow; }
.sidebar{

}
.footer {color:#fff;}
.footer .widget-content{}
.footer {background:green;}

.pagination,
.post-content, 
.widget-content, 
section.post-content-single,
section.comment-respond,
.comments li{
	border:1px solid yellow !important;
}

body{
	background:black !important;
}
.upper,
.header,
.top,
.menu-wrap,
.main-content{

}
.menu a{border:1px solid yellow !important; background:#fff; padding:20px;}

.menu-item-has-children a{border:1px solid green !important;}

.sub-menu li a{border:1px solid yellow !important; background:#000; }


.sub-menu li .sub-menu a{border:1px solid yellow !important; background:green; }
.sub-menu li .sub-menu li .sub-menu a{border:1px solid yellow !important; background:yellow; }
.sub-menu li .sub-menu li .sub-menu li .sub-menu a{border:1px solid yellow !important; background:blue; }*/


