/* = Global Paddinga
-------------------------------------------------------------- */
.widget-header,
.post-header-loop, /*loop*/
.post-meta-loop,
.post-meta{
	
	padding:6px 12px; 	
	
	
} /*widgets*/
.widget-content,
.page-content, /*page*/
.post-content-loop,
.post-footer-loop,
.post-header, /*loop*/
.post-content,
.post-footer,
.comments,
.comment-respond/*comments*/
{	
	padding:12px; 	
}


/* = Global Margins
-------------------------------------------------------------- */
.post-loop, /*loop*/
.pagination,
.post, 
.post-content p,
.post-content blockquote,
.post-content dl,	/*post-content*/
.post-content table,
.post-content code,
.post-content pre,
.post-content ul,
.post-content ol,

/*.page,*/ /*page-content*/
.page-content p,
.page-content blockquote,
.page-content table,
.page-content dl,
.page-content code,
.page-content pre,
.page-content ul, 
.page-content ol,

.page-content-widgets .widget,
 
/*
.top,
.bottom,*/

.bottom .widget,  /*bottom widgets*/
.footer .widget,
.sidebar .widget,  /*widgets*/
.widget_text p,
.widget_text ul,  
.widget_text ol,
input:not([type=submit]):not([type=file]),
textarea{
 	margin-bottom:12px;	
}
