/* = MENU responsive   ao-hall-logo-dark-135x35.png
-------------------------------------------------------------- */
.responsive-menu {
    display: none;
}

.responsive-menu select {
    width: 100%;
    margin: 10px 10px 10px 10px;
}

/* = sticky menu 
-------------------------------------------------------------- */
.sticky {
    position:fixed;
    top:0!important; /*overight top*/
    width: 100%;
    z-index: 99999;
}

.upper-sticky-fix {
	position: relative;
}


/* = menu awesome icon
-------------------------------------------------------------- */
.fa a {
	padding-left: 2em;
}

.fa::before {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
}


/* = Horizontal Menu  
-------------------------------------------------------------- */
.upper .widget_nav_menu ul.menu,
.header .widget_nav_menu ul.menu,
.top .widget_nav_menu ul.menu,
.copyright .widget_nav_menu ul.menu,
.horizontal-menu ul,
.sidebar .widget_nav_menu ul.menu,
.bottom .widget_nav_menu ul.menu,
.footer .widget_nav_menu ul.menu,
.copyright .widget_nav_menu ul.menu {
    display: inline-block;
	width: 100%;
    position: relative;
    padding: 0px;
	margin: 0px;
    list-style-type: none !important; /*dont need dots on menu list*/
}

.upper .widget_nav_menu ul.menu li,
.header .widget_nav_menu ul.menu li,
.top .widget_nav_menu ul.menu li,
.copyright .widget_nav_menu ul.menu li,
.horizontal-menu ul li {
	float: left;
    display: inline-block;
}

.upper .widget_nav_menu ul.menu li a,
.header .widget_nav_menu ul.menu li a,
.top .widget_nav_menu ul.menu li a,
.copyright .widget_nav_menu ul.menu li a,
.horizontal-menu ul li a {
	width:100%;
    display: block;
}

/* = Horizontal Menu Sub
-------------------------------------------------------------- */
.upper .widget_nav_menu ul.menu ul, 
.header .widget_nav_menu ul.menu ul, 
.top .widget_nav_menu ul.menu ul, 
.copyright .widget_nav_menu ul.menu ul, 
.horizontal-menu ul ul{ 
	width:180px; 	
	display: none;
    position: absolute;
    z-index: 999999;
}

.upper .widget_nav_menu ul.menu ul li,
.header .widget_nav_menu ul.menu ul li,
.top .widget_nav_menu ul.menu ul li,
.copyright .widget_nav_menu ul.menu ul li,
.horizontal-menu ul ul li{
	width:100%;
} 

.upper .widget_nav_menu ul.menu li:hover > ul, 
.header .widget_nav_menu ul.menu li:hover > ul, 
.top .widget_nav_menu ul.menu li:hover > ul, 
.copyright .widget_nav_menu ul.menu li:hover > ul, 
.horizontal-menu ul li:hover > ul{ 
	display: block;
 
}

.upper .widget_nav_menu ul.menu li:focus > ul, 
.header .widget_nav_menu ul.menu li:focus > ul, 
.top .widget_nav_menu ul.menu li:focus > ul, 
.copyright .widget_nav_menu ul.menu li:focus > ul, 
.horizontal-menu ul li:focus > ul{ 
	display: block;
 
}

/* = Horizontal Menu Sub Sub
-------------------------------------------------------------- */
.upper .widget_nav_menu ul.menu ul ul, 
.header .widget_nav_menu ul.menu ul ul,
.top .widget_nav_menu ul.menu ul ul,
.copyright .widget_nav_menu ul.menu ul ul,  
.horizontal-menu ul ul ul,
.upper .widget_nav_menu ul.menu ul ul ul ul ul ul,
.header .widget_nav_menu ul.menu ul ul ul ul ul ul,
.top .widget_nav_menu ul.menu ul ul ul ul ul ul, 
.copyright .widget_nav_menu ul.menu ul ul ul ul ul ul,  
.horizontal-menu ul ul ul ul ul ul ul,
.upper .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,
.header .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul, 
.top .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,
.copyright .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,  
.horizontal-menu ul ul ul ul ul ul ul ul ul ul ul{ 
	top:50%;
	transform:translate(0, -10%);
	left:100%;

}

/* = Horizontal Menu Sub Sub Sub 
-------------------------------------------------------------- */
.upper .widget_nav_menu ul.menu ul ul ul ul, 
.header .widget_nav_menu ul.menu ul ul ul ul,
.top .widget_nav_menu ul.menu ul ul ul ul,  
.copyright .widget_nav_menu ul.menu ul ul ul ul, 
.horizontal-menu ul ul ul ul ul,
.upper .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul, 
.header .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul,
.top .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul,  
.copyright .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul, 
.horizontal-menu ul ul ul ul ul ul ul ul ul{ 
	top:0;
	left:-100%;
}

/* = Horizontal Menu  Header
-------------------------------------------------------------- */
.header .widget_nav_menu ul.menu {
	float: right;
	width: auto;
}

/* = Top Horizontal Menu 
-------------------------------------------------------------- */
.top .widget_nav_menu ul.menu {
	float:right;
	width:auto;
	text-align:center !important;
}

/* = Widget Menu 
-------------------------------------------------------------- */
.widget_nav_menu  {
	position:relative;
}

li.menu-item-has-children {
	position:relative;
}
ul.sub-menu li.menu-item-has-children i{
	right:5px !important;
}

/* = Responsive item 
-------------------------------------------------------------- */
.responsive-menu-item{
	float:left;	
	width:30px;
	
}

.responsive-menu-item span{
	height:2px;
	width:30px;
	float:left;
	border:2px solid #fff;
	background:#fff;
	margin-bottom:3px;	
}

/* = Responsive Icon 
-------------------------------------------------------------- */
.responsive-menu-icon{
	display:none;
	position:absolute;
	top:0px;
	cursor:pointer;
}

/* = Sub menu open icon  
-------------------------------------------------------------- */
.open-sub-menu{
	display:none;
}

.open-sub-menu{	
	cursor:pointer;
}
.open-sub-menu:hover{
	color:red;
}

@media (max-width: 850px) {
	
	/* = Header Menu
	-------------------------------------------------------------- */
	.header	.widget_nav_menu{
		margin-bottom:20px;
	}
		
	.upper .widget_nav_menu ul.menu,
	.header .widget_nav_menu ul.menu,
	.top .widget_nav_menu ul.menu,
	.copyright .widget_nav_menu ul.menu,
	.horizontal-menu ul,
	.sidebar .widget_nav_menu ul.menu,
	.bottom .widget_nav_menu ul.menu,
	.footer .widget_nav_menu ul.menu,
	.copyright .widget_nav_menu ul.menu{
		display: none;
	}

	/* = Main Menu li 100%
	-------------------------------------------------------------- */
	ul.menu li{
		width:100%; 
		display:block !important; 
		text-align:center !important; 
	}
	
	ul.menu li:hover ul {
		width:100% !important;  	
		position:relative !important; 
	}
	ul.menu li:hover ul li{
		width:100% !important; 
		display:block !important; 
		text-align:center !important; 	
	}
	ul.menu li:hover ul li a{ }
	
	ul.menu li:hover ul li ul{
		left:0;
		width:100% !important;  
		position:relative !important; 
	}
	
	.responsive-menu-icon{	
		padding-right:20px;
		padding-left:20px;
		position:absolute;
	}
	
	/* = Widget Menu width 100%
	-------------------------------------------------------------- */
	.widget_nav_menu ul{
		width:100% !important;
	}
	
	.widget_nav_menu ul li{
		width:100% !important;
		display:block !important;
		text-align:center;
		/*padding:5px 0px;*/
	}
	
	.widget_nav_menu ul li.current-menu-item li{
		width:100% !important;
	}
	
	/* = Show menu icon 
	-------------------------------------------------------------- */
	.responsive-menu-icon{
		display:block !important;
		width: 100%;
    	text-align: right;
    	position: relative;
	}
	
	/* = Show icon open sub menu icon  
	-------------------------------------------------------------- */
	.open-sub-menu{
		display:block;
	}
	
	/* = Sub Menu
	-------------------------------------------------------------- */
	.widget_nav_menu ul li.current-menu-item ul.sub-menu, 
	.widget_nav_menu ul li.current-menu-item ul.sub-menu ul, 
	.widget_nav_menu ul li.current-menu-item ul.sub-menu ul ul,
	.widget_nav_menu ul li.current-menu-item ul.sub-menu ul ul ul,
	.widget_nav_menu ul li.current-menu-item ul.sub-menu ul ul ul ul{
		position:relative !important;
		display:block !important;
		left:0;
		top:0;

	}
	
	.upper .widget_nav_menu ul.menu li:hover > ul, 
	.header .widget_nav_menu ul.menu li:hover > ul, 
	.top .widget_nav_menu ul.menu li:hover > ul, 
	.copyright .widget_nav_menu ul.menu li:hover > ul, 
	.horizontal-menu ul li:hover > ul{ 
		display: none;
	}

	.upper .widget_nav_menu ul.menu li:focus > ul, 
	.header .widget_nav_menu ul.menu li:focus > ul, 
	.top .widget_nav_menu ul.menu li:focus > ul, 
	.copyright .widget_nav_menu ul.menu li:focus > ul, 
	.horizontal-menu ul li:focus > ul{ 
		display: none;
	}
	
	.upper .widget_nav_menu ul.menu ul, 
	.header .widget_nav_menu ul.menu ul, 
	.top .widget_nav_menu ul.menu ul, 
	.copyright .widget_nav_menu ul.menu ul, 
	.horizontal-menu ul ul,
	.upper .widget_nav_menu ul.menu ul ul, 
	.header .widget_nav_menu ul.menu ul ul,
	.top .widget_nav_menu ul.menu ul ul,
	.copyright .widget_nav_menu ul.menu ul ul,  
	.horizontal-menu ul ul ul,
	.upper .widget_nav_menu ul.menu ul ul ul ul ul ul,
	.header .widget_nav_menu ul.menu ul ul ul ul ul ul,
	.top .widget_nav_menu ul.menu ul ul ul ul ul ul, 
	.copyright .widget_nav_menu ul.menu ul ul ul ul ul ul,  
	.horizontal-menu ul ul ul ul ul ul ul,
	.upper .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,
	.header .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul, 
	.top .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,
	.copyright .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,  
	.horizontal-menu ul ul ul ul ul ul ul ul ul ul ul{ 
		width:100% !important; 		
		left:0;
	    position: relative;	  
	}
	.upper .widget_nav_menu ul.menu ul ul, 
	.header .widget_nav_menu ul.menu ul ul,
	.top .widget_nav_menu ul.menu ul ul,
	.copyright .widget_nav_menu ul.menu ul ul,  
	.horizontal-menu ul ul ul,
	.upper .widget_nav_menu ul.menu ul ul ul ul ul ul,
	.header .widget_nav_menu ul.menu ul ul ul ul ul ul,
	.top .widget_nav_menu ul.menu ul ul ul ul ul ul, 
	.copyright .widget_nav_menu ul.menu ul ul ul ul ul ul,  
	.horizontal-menu ul ul ul ul ul ul ul,
	.upper .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,
	.header .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul, 
	.top .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,
	.copyright .widget_nav_menu ul.menu ul ul ul ul ul ul ul ul ul ul,  
	.horizontal-menu ul ul ul ul ul ul ul ul ul ul ul{	
		width:100% !important; 	
		left:0;
	    position: relative;
	}
		

}
/* = Responsive 480 
-------------------------------------------------------------- */
@media (max-width: 479px) {

	.header	.widget_nav_menu{
		margin-bottom:20px;
	}
	
	.widget_nav_menu ul li{
		width:100% !important;
		display:block !important;
		text-align:center!important;
		/*padding:5px 0px;*/
	}

	.responsive-menu-icon{
		display:block !important;
	}
	
	.widget_nav_menu ul li.current-menu-item ul.sub-menu, 
	.widget_nav_menu ul li.current-menu-item ul.sub-menu ul, 
	.widget_nav_menu ul li.current-menu-item ul.sub-menu ul ul,
	.widget_nav_menu ul li.current-menu-item ul.sub-menu ul ul ul,
	.widget_nav_menu ul li.current-menu-item ul.sub-menu ul ul ul ul{
		position: relative !important;
		display: block !important;
		left:0;
		top:0;

	}
	
	.widget_nav_menu ul li.current-menu-item li{
		width:100% !important;
	}
}

/*Menu  display bug fixed*/
@media (min-width: 850px) {
	.upper .widget_nav_menu ul.menu,
	.header .widget_nav_menu ul.menu,
	.top .widget_nav_menu ul.menu,
	.copyright .widget_nav_menu ul.menu,
	.sidebar .widget_nav_menu ul.menu,
	.bottom .widget_nav_menu ul.menu,
	.footer .widget_nav_menu ul.menu,
	.copyright .widget_nav_menu ul.menu, 
	.primary-menu ul.menu {
	    display: inline-block !important;

	}
}