/* = Horizontal Menu  
-------------------------------------------------------------- */
/*@media handheld, only screen and (max-width: 960px) { 	*/
@media (max-width: 1199px) {	

	.container{
        width: 100% !important;
    }
		
}	
		
@media (max-width: 949px) {	

	/* = Container  
	-------------------------------------------------------------- */	
	.container{
        width: 100% !important;
    }

}		


/* = Responsive 767px  
-------------------------------------------------------------- */
@media (max-width: 767px) {

	/* = Container  
	-------------------------------------------------------------- */	
    #container, 
	.container{
        width: 100% !important;
    }

	/* = WP Gllery 
	-------------------------------------------------------------- */
	.gallery-item {width:50% !important;}
	

	/* = header columns 2  
	-------------------------------------------------------------- */		
	.header .col-2-30x70 .post:nth-child(2n+1) *,
	.header .col-2-30x70 .widget:nth-child(2n+1) *,
	.header .col-2-70x30 .col-item:nth-child(2n+1) *, 
	.header .temp-col-2-30x70 .col-item:nth-child(2n+1) *{
	
		text-align:center !important;
	
	} 
	.header .col-2-30x70 .post:nth-child(2n+2) *,
	.header .col-2-30x70 .widget:nth-child(2n+2) *,
	.header .col-2-30x70 .col-item:nth-child(2n+2) *,
	.header .temp-col-2-30x70 .col-item:nth-child(2n+2) *{	
		text-align:center !important;
	}

	

}
	
/* = Responsive 480 
-------------------------------------------------------------- */
@media (max-width: 479px) {
	
	/* = Container  
	-------------------------------------------------------------- */	
    #container, 
	.container {
        width: 100% !important;
    }


	/* = header columns 2  
	-------------------------------------------------------------- */		
	.header .col-2-30x70 .post:nth-child(2n+1) *,
	.header .col-2-30x70 .widget:nth-child(2n+1) *,
	.header .col-2-70x30 .col-item:nth-child(2n+1) *, 
	.header .temp-col-2-30x70 .col-item:nth-child(2n+1) *{
	
		text-align:center !important;
	
	} 
	.header .col-2-30x70 .post:nth-child(2n+2) *,
	.header .col-2-30x70 .widget:nth-child(2n+2) *,
	.header .col-2-30x70 .col-item:nth-child(2n+2) *,
	.header .temp-col-2-30x70 .col-item:nth-child(2n+2) *{	
		text-align:center !important;
	}


	/* = WP Gllery 
	-------------------------------------------------------------- */
	.gallery-item {width:100% !important;}
	
	/* = Forms 
	-------------------------------------------------------------- */
	input:not([type=submit]):not([type=file]), textarea{width:100% !important;}
	
}

/* = Responsive 380 
-------------------------------------------------------------- */
@media handheld, only screen and (max-width: 379px) {
}


/* = Responsive 320 
-------------------------------------------------------------- */
@media handheld, only screen and (max-width: 319px) {
}