
/* = footer  Design
--------------------------------------------------------------*/ 
.footer {
   
   padding-top: 75px; 
   padding-bottom: 75px; 
   border-top: 1px Solid #eaeaea; 
}
/* = footer Widget Design
--------------------------------------------------------------*/ 
.footer .widget {
   
}
/* = footer Widget Content design
--------------------------------------------------------------*/ 
.footer .widget-content {
   
   padding-top: 30px; 
   padding-bottom: 40px; 
}
/* = footer Widgets Menu Content
--------------------------------------------------------------*/ 
.footer .widget_nav_menu .widget-content {
   
   padding-top: 55px; 
}
/* = footer Widgets Menu li
--------------------------------------------------------------*/ 
.footer .widget_nav_menu ul.menu li a {
   
   padding-right: 10px; 
   padding-left: 10px; 
}