
/* = sidebar Widget Header Design
--------------------------------------------------------------*/ 
.sidebar .widget-header {
   
   padding-top: 10px; 
   padding-bottom: 10px; 
   padding-left: 0px; 
}
/* = sidebar Widget Content design
--------------------------------------------------------------*/ 
.sidebar .widget-content {
   
   padding-left: 0px; 
}
/* = sidebar Widget Content a
--------------------------------------------------------------*/ 
.sidebar .widget-content a {
   
}