
/* = Grid 
--------------------------------------------------------------*/


/* =  Columns 2 50 x 50%
-------------------------------------------------------------- */
.col-2 .post:nth-child(2n+1),
.col-2 .widget:nth-child(2n+1),
.col-2 .col-item:nth-child(2n+1){
	padding-right: 7px !important;
} 
.col-2 .post:nth-child(2n+2),
.col-2 .widget:nth-child(2n+2),
.col-2 .col-item:nth-child(2n+2){	
	padding-left: 7px !important;	
}


/* =  Columns 2 30 x 70%
-------------------------------------------------------------- */
.col-2-30x70 .post:nth-child(2n+1),
.col-2-30x70 .widget:nth-child(2n+1),
.col-2-30x70 .col-item:nth-child(2n+1),
.temp-col-2-30x70 .col-item:nth-child(2n+1) {
	padding-right: 7px !important;
} 
.col-2-30x70 .post:nth-child(2n+2),
.col-2-30x70 .widget:nth-child(2n+2),
.col-2-30x70 .col-item:nth-child(2n+2),
.temp-col-2-30x70 .col-item:nth-child(2n+2){	
	padding-left: 7px !important;	
}


/* =  Columns 2 70 x 30%
-------------------------------------------------------------- */
.col-2-70x30 .post:nth-child(2n+1),
.col-2-70x30 .widget:nth-child(2n+1),
.col-2-70x30 .col-item:nth-child(2n+1), 
.temp-col-2-70x30 .col-item:nth-child(2n+1){
	padding-right: 7px !important;
} 
.col-2-70x30 .post:nth-child(2n+2),
.col-2-70x30 .widget:nth-child(2n+2),
.col-2-70x30 .col-item:nth-child(2n+2),
.temp-col-2-70x30 .col-item:nth-child(2n+2){	
	padding-left: 7px !important;	
}


/* =  Columns 3 33.3% 
-------------------------------------------------------------- */
.col-3 .post:nth-child(3n+1),
.col-3 .widget:nth-child(3n+1),
.col-3 .col-item:nth-child(3n+1){	
	padding-right: 7px !important;
} 

.col-3 .post:nth-child(3n+2),
.col-3 .widget:nth-child(3n+2),
.col-3 .col-item:nth-child(3n+2){	
	padding-left: 7px !important;	
	padding-right: 7px !important;
}

.col-3 .post:nth-child(3n+3),
.col-3 .widget:nth-child(3n+3),
.col-3 .col-item:nth-child(3n+3){	
	padding-left: 7px !important;	
}

/* =  Columns 3 15x60x25% 
-------------------------------------------------------------- */
.col-3-15x60x25 .post:nth-child(3n+1),
.col-3-15x60x25 .widget:nth-child(3n+1),
.col-3-15x60x25 .col-item:nth-child(3n+1), 
.temp-col-3-15x60x25 .col-item:nth-child(3n+1){	
	padding-right: 14px !important;
} 

.col-3-15x60x25 .post:nth-child(3n+2),
.col-3-15x60x25 .widget:nth-child(3n+2),
.col-3-15x60x25 .col-item:nth-child(3n+2),
.temp-col-3-15x60x25 .col-item:nth-child(3n+2){
	padding-left: 14px !important;	
	padding-right: 14px !important;
}

.col-3-15x60x25 .post:nth-child(3n+3),
.col-3-15x60x25 .widget:nth-child(3n+3),
.col-3-15x60x25 .col-item:nth-child(3n+3),
.temp-col-3-15x60x25 .col-item:nth-child(3n+3){
	padding-left: 14px !important;	
}

/* =  Columns 3 15x25x60% 
-------------------------------------------------------------- */
.col-3-15x25x60 .post:nth-child(3n+1),
.col-3-15x25x60 .widget:nth-child(3n+1),
.col-3-15x25x60 .col-item:nth-child(3n+1), 
.temp-col-3-15x25x60 .col-item:nth-child(3n+1){	
	padding-right: 14px !important;
} 

.col-3-15x25x60 .post:nth-child(3n+2),
.col-3-15x25x60 .widget:nth-child(3n+2),
.col-3-15x25x60 .col-item:nth-child(3n+2),
.temp-col-3-15x25x60 .col-item:nth-child(3n+2){
	padding-left: 14px !important;	
	padding-right: 14px !important;
}

.col-3-15x25x60 .post:nth-child(3n+3),
.col-3-15x25x60 .widget:nth-child(3n+3),
.col-3-15x25x60 .col-item:nth-child(3n+3),
.temp-col-3-15x25x60 .col-item:nth-child(3n+3){
	padding-left: 14px !important;	
}


/* =  Columns 3 60x25x15% 
-------------------------------------------------------------- */
.col-3-60x25x15 .post:nth-child(3n+1),
.col-3-60x25x15 .widget:nth-child(3n+1),
.col-3-60x25x15 .col-item:nth-child(3n+1), 
.temp-col-3-60x25x15 .col-item:nth-child(3n+1){	
	padding-right: 14px !important;
} 

.col-3-60x25x15 .post:nth-child(3n+2),
.col-3-60x25x15 .widget:nth-child(3n+2),
.col-3-60x25x15 .col-item:nth-child(3n+2),
.temp-col-3-60x25x15 .col-item:nth-child(3n+2){	
	padding-left: 14px !important;	
	padding-right: 14px !important;
}

.col-3-60x25x15 .post:nth-child(3n+3),
.col-3-60x25x15 .widget:nth-child(3n+3),
.col-3-60x25x15 .col-item:nth-child(3n+3),
.temp-col-3-60x25x15 .col-item:nth-child(3n+3){	
	padding-left: 14px !important;	
}



/* =  Columns 4 25 x 25 x 25 x 25% 
-------------------------------------------------------------- */
.col-4 .post:nth-child(4n+1),
.col-4 .widget:nth-child(4n+1),
.col-4 .col-item:nth-child(4n+1){	
	padding-right: 14px !important;
} 

.col-4 .post:nth-child(4n+2),
.col-4 .widget:nth-child(4n+2),
.col-4 .col-item:nth-child(4n+2),
.col-4 .post:nth-child(4n+3),
.col-4 .widget:nth-child(4n+3),
.col-4 .col-item:nth-child(4n+3){	
	padding-left: 14px !important;	
	padding-right: 14px !important;
}


.col-4 .post:nth-child(4n+4),
.col-4 .widget:nth-child(4n+4),
.col-4 .col-item:nth-child(4n+4){	
	padding-left: 14px !important;	
}

/* =  Columns 5 25 x 25 x 25 x 25% 
-------------------------------------------------------------- */
.col-5 .post:nth-child(5n+1),
.col-5 .widget:nth-child(5n+1),
.col-5 .col-item:nth-child(5n+1){	
	padding-right: 14px !important;
} 
.col-5 .post:nth-child(5n+2),
.col-5 .widget:nth-child(5n+2),
.col-5 .col-item:nth-child(5n+2),
.col-5 .post:nth-child(5n+3),
.col-5 .widget:nth-child(5n+3),
.col-5 .col-item:nth-child(5n+3),
.col-5 .post:nth-child(5n+4),
.col-5 .widget:nth-child(5n+4),
.col-5 .col-item:nth-child(5n+4){	
	padding-left: 14px !important;	
	padding-right: 14px !important;
}

.col-5 .post:nth-child(5n+5),
.col-5 .widget:nth-child(5n+5),
.col-5 .col-item:nth-child(5n+5){	
	padding-left: 14px !important;	
}

/* =  Columns 6 16.5 
-------------------------------------------------------------- */
.col-6 .post:nth-child(6n+1),
.col-6 .widget:nth-child(6n+1),
.col-6 .col-item:nth-child(6n+1){	
	padding-right: 14px !important;
} 
.col-6 .post:nth-child(6n+2),
.col-6 .widget:nth-child(6n+2),
.col-6 .col-item:nth-child(6n+2),
.col-6 .post:nth-child(6n+3),
.col-6 .widget:nth-child(6n+3),
.col-6 .col-item:nth-child(6n+3),
.col-6 .post:nth-child(6n+4),
.col-6 .widget:nth-child(6n+4),
.col-6 .col-item:nth-child(6n+4),
.col-6 .post:nth-child(6n+5),
.col-6 .widget:nth-child(6n+5),
.col-6 .col-item:nth-child(6n+5){	
	padding-left: 14px !important;	
	padding-right: 14px !important;
}
.col-6 .post:nth-child(6n+6),
.col-6 .widget:nth-child(6n+6),
.col-6 .col-item:nth-child(6n+6){	
	padding-left: 14px !important;	
}



/* = Global Paddinga
-------------------------------------------------------------- */
.pagination{
	padding:14px 0px !important; 	
} 
.post-header-loop h2{
	margin-bottom:0px;
}
.post-header-loop{	
	padding:14px 14px 7px 14px !important; 	
}

.post-meta, .post-meta-loop{
	padding:7px 14px !important; 		
}


/*Page builder sections*/

.page-builder-section-1,
.page-builder-section-2{
	padding:14px; 		
}

/*widgets*/

.widget-header,

.widget-content,
.page-content, 
.post-content-loop,
.post-footer-loop,

.post-header,
.post-content,
.post-footer,
.comments
/*.comment-respond*/
{	
	padding:7px 14px; 	
}

.post-content ul li, 
.post-content ol li, 
.page-content ul li, 
.page-content ol li,
.widget_text ul li,  
.widget_text ol li{
	padding:4px 0px 4px 0px; 	
	
}


/* = Global Margins
-------------------------------------------------------------- */
.post-loop, /*loop*/
.pagination,
.post, 
.post-content p,
.post-content blockquote,
.post-content dl,	/*post-content*/
.post-content table,
.post-content code,
.post-content pre,
.post-content ul,
.post-content ol,

.page, /*page-content*/
.page-content p,
.page-content blockquote,
.page-content table,
.page-content dl,
.page-content code,
.page-content pre,
.page-content ul, 
.page-content ol,

.page-content h1,
.page-content h2, 
.page-content h3, 
.page-content h4, 
.page-content h5,
.page-content h6,
.page-content img,


/*.page-content-widgets .widget,*/



.top,
/*.bottom*/

.bottom .widget,  /*bottom widgets*/

.sidebar .widget,  /*widgets*/
.widget_text p,
.widget_text ul,  
.widget_text ol,
.widget-content h1,
.widget-content h2, 
.widget-content h3, 
.widget-content h4, 
.widget-content h5,
.widget-content h6,
.widget-content img,

.post-content h1,
.post-content h2, 
.post-content h3, 
.post-content h4, 
.post-content h5,
.post-content h6,
.post-content img,

input:not([type=submit]):not([type=file]),
textarea{
 	margin-bottom:14px;	
}

.post-content ul ul{margin-bottom:0px;}
.post-content ol ol{margin-bottom:0px;}
.page-content ul ul{margin-bottom:0px;}
.page-content ol ol{margin-bottom:0px;}


.post-widget{	
	padding:14px 14px !important; 
	margin-bottom:0px;

}
.post .post-widget-header h5, .post-widget-header h5{
	padding:0px !important; 
	margin:0px !important; 	
	margin-bottom:-5px !important; 	
}
.post-widget-header{
	padding-bottom:7px !important;	
}

.post-widget-meta{
	padding:0px 0px !important;
}
.post-widget-media.aligncenter, .post-widget-media.aligncenter img{
	margin:0px !important;		
}
.post-widget-media{
	padding-top:0px;
	padding-bottom:7px 0px !important; 
}
.post-widget-content{
	padding:7px 0px !important; 
	margin-bottom:-14px;
}