
/* = copyright  Design
--------------------------------------------------------------*/ 
.copyright {
   
   background-color: #eeeeee;
}
/* = copyright  p
--------------------------------------------------------------*/ 
.copyright,
.copyright p {
   
   font-size: 14px; 
}
/* = copyright  a
--------------------------------------------------------------*/ 
.copyright a {
   color: #555555; 
}